@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

:root {
  --primary-color: #3498db;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  background: #f9fafc;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  padding: 50px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

pre.astro-code {
  border-bottom: 1px solid #e0e6ed;
  border-top: 1px solid #e0e6ed;
  margin: 15px -100px;
  padding: 25px 100px;
}

@media only screen and (max-width: 870px) {
  pre.astro-code {
    margin: 15px -15px;
    padding: 25px;
  }
}
